body{
	/*background-image: url(https://media0.giphy.com/media/8vYWtRIBevuw0/giphy.gif);
	background-size: 100%;*/
}

.rules{
	text-align: left;
	font-size: 20px;
	font-style: bold;
	background-color: aquamarine;
}
#valueBox{
	height: 200px;
	width: 200px;
	background-color: pink;
	float: left;
	font-size: 50px;
	
}
.badge{
	width: 200px;
	height: 200px;
	background-color: teal;
	font-size: 20px;
	margin-left: 210px;
}
button{
	margin-top: 10px; 
}
img{
	clear: both;
	width: 100px;
	height:200px;
}
h2{
	height: 25px;
	width: 200px;
	background-color: purple;
	color: white;
}
.totalScore{
	height: 75px;
	width: 200px;
	background-color: green;
	font-size: 40px;
}